<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
	<body>
		<h1>Home</h1>
		<div class="article" id="article-1">
			<h2>
				The Value of Money
			</h2>
			<p>
				In the afterscape, seeds may be the most commonly accepted currency.
			</p>
		</div>
		<div class="article" id="article-2">
			<h2>
				GMO food
			</h2>
			<p>
				A little skeptisism of GMOs is healthy, but bear in mind that many alternatives that people often think to be safer are just as contaminated.
			</p>
		</div>
		<div class="article" id="article-3">
			<h2>
				The View of World in 2100
			</h2>
			<p>
				There were will be no humans (or tigers) left to view the world in 2100. Another virus that becomes unearthed from climate change will wipe us out, as we will have learned nothing from the first one.
			</p>
		</div>
	</body>
</html>