<!DOCTYPE html>
<html lang="en">
<head>
	<title>Portfolio</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
	<body>
	<h1>Portfolio</h1>
		<div class="wrapper">
			<div class="grid">
				<div class="card">
					<h2 class="work-title">
						G.O.A.T. Media
					</h2>
					<img src="../img/baring-teeth-for-revolt.png" alt="G.O.A.T. Media Logo" class="thumb">
				</div>
				<div class="card">
					<h2 class="work-title">
						Dearest Brother
					</h2>
					<img src="../img/brothers-blood.png" alt="Hand Art" class="thumb">
				</div>
				<div class="card">
					<h2 class="work-title">
						The United States Republican Party (Biggest Client)
					</h2>
					<img src="../img/faith-in-the-elephant.png" alt="Nothing To See Here" class="thumb">
				</div>
				<div class="card">
					<h2 class="work-title">
						AGM
					</h2>
					<img src="../img/eagles-became-vultures.png" alt="Goose Logo" class="thumb">
				</div>
				<div class="card">
					<h2 class="work-title">
						Grotesque
					</h2>
					<img src="../img/exit-light.png" alt="Scary Drawing" class="thumb">
				</div>
				<div class="card">
					<h2 class="work-title">
						The Burning Tree
					</h2>
					<img src="../img/hours.png" alt="Photoshop Illustration" class="thumb">
				</div>
			</div>
		</div>
	</body>
</html>